<h3><center>City: <%= @city.name %></center></h3>

<h3><%= @city.name %> Trains</h3>

<% if @city.trains.any? %>
<ul>
  <% @city.trains.each do |train| %>
  <li><a href="/cities/<%= @city.id %>"><strong><%= @city.name %>, <%= train.name %></strong></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no trains to display.</p>
<% end %>

<br>

<h4>Add a train:</h4>

<form action="/cities/<%= @city.id %>" method="post">
  <div class="form-group">
    <input name="_method" type="hidden" value="patch">
    <input name="train_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add train</button>
</form>

<br>

<p><a href="/cities/<%= @city.id %>/edit">Edit <%= @city.name %></a></p>
<p><a href="/cities">Return to city list</a></p>
